<img
  class='card-img lazyload blur-up'
  src='./images/500.png'
  data-src='{{url}}'
  alt='{{breeds.0.name}}'
/>
<div class='descr'>
  <h1 class='title'>{{breeds.0.name}}</h1>
  <h2 class='title'>Description:</h2>
  <p>{{breeds.0.description}}</p>
  <h2 class='title'>Temperament:</h2>
  <p>{{breeds.0.temperament}}</p>
</div>